#page-landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo-container img {
    height: 8rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

#new-diary-form fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#new-diary-form fieldset + fieldset {
    margin-top: 6.4rem;
}

#new-diary-form fieldset legend {
    font: 700 2rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#new-diary-form fieldset .input-block + .textarea-block,
#new-diary-form fieldset .select-block + .input-block {
    margin-top: 2.4rem;
}

#page-landing footer {
    padding: 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    border-radius: 1rem;
    margin-top: 4rem;
}

#page-teacher-form footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.buttons-container a,
.buttons-container button {
    width: 25rem;
    height: 5rem;
    border-radius: 0.8rem;
    font: 700 2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background-color 0.2s;
    border: none;
    cursor: pointer;
}

.buttons-container a:first-child,
.buttons-container button:first-child {
    margin-right: 1.6rem;
}

.buttons-container button.pacient-button {
    background: var(--color-primary-lighter);
}

.buttons-container a.psy-button {
    background: var(--color-secondary);
}

.buttons-container a.login-button {
    background: var(--color-primary-dark);
}

.buttons-container button.pacient-button:hover {
    background: var(--color-primary-light);
}

.buttons-container a.psy-button:hover {
    background: var(--color-secondary-dark);
}

.buttons-container a.login-button:hover {
    background: var(--color-primary-darker);
}

.total-connections {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-connections img {
    margin-left: 0.8rem;
}
